.about {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
}
.about-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.intro {
  max-width: 500px;
  line-height: 1.7;  
}
.about-content {
  flex: 1;
}

.values-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 24px;
  justify-items: center;
}


.value-card {
  background: rgba(162, 71, 71, 0.05);
  border: 1px solid rgba(56, 189, 248, 0.15);
  border-radius: 14px;
  padding: 24px;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 260px;
}


.value-card:hover {
  transform: translateY(-6px);
  border-color: #38bdf8;
}

.value-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #38bdf8;
}

.value-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #e5e7eb;
}

.value-card .icon {
  font-size: 28px;
  margin-bottom: 10px;
  display: inline-block;
}
