.home {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  background-color: #020617;
  color: #e5e7eb;
}

.home-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* LEFT */
.home-content {
  flex: 1;
}

.home-content h1 {
  font-size: 42px;
  margin-bottom: 12px;
}

.home-content h1 span {
  color: #38bdf8;
}

.subtitle {
  font-size: 18px;
  color: #94a3b8;
  margin-bottom: 16px;
}

.intro {
  max-width: 500px;
  line-height: 1.7;
  color: #e5e7eb;
}

/* RIGHT */
.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.home-image img {
  width: 422px;
  height: 422px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #38bdf8;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .intro {
    margin: auto;
  }
}
